<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="parts/Header.html :: head"></th:block>
    <!-- CSS styles -->
    <style>
    .alert-new {
        background-color: #5d5dfb;
    }

    .alert-in_progress {
        background-color: orange;
    }

    .alert-cancelled {
        background-color: red;
    }

    .alert-success {
        background-color: green;
    }
    .none{
    display:none;
    }
</style>
</head>

<body class="g-sidenav-show   bg-gray-100">
<div class="min-height-300 bg-primary position-absolute w-100"></div>
<th:block th:insert="parts/Aside.html :: aside"></th:block>
<main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <th:block th:insert="parts/Nav.html :: nav"></th:block>

    <!-- End Navbar -->
    <div class="container-fluid py-4">
        <th:block th:insert="parts/Notification.html :: div"></th:block>

        <div id="divContent">
            <main class="main-content position-relative border-radius-lg ">
                <!-- Navbar -->
                <!-- End Navbar -->
                <div class="container-fluid py-4">
                    <div class="row">
                        <div class="col-md-12 mt-4">
                            <div class="card">
                                <div class="card-header pb-0 px-3" style="display: flex;">
                                    <div class="d-flex flex-column">
                                        <h6 class="mb-0">Bookings Information</h6>
                                    </div>
                                    <div sec:authorize="hasRole('ROLE_CLIENT')"  th:unless="${deletedCustomer}"class="ms-auto text-end">
                                        <a class="btn btn-link text-dark px-3 mb-0" th:href="@{/booking}" style="color:#1d64dc !important;;"><i class="fas fa-plus me-2" aria-hidden="true" ></i>New Booking</a>
                                    </div>
                                </div>
                                <div class="card-body pt-4 p-3" th:if="${#lists.isEmpty(bookings)}">
                                    <p>No bookings found.</p>
                                </div>
                                <div class="card-body pt-4 p-3">
                                    <ul class="list-group">
                                        <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"  th:each="booking : ${bookings}" th:id="'bookingDiv'+${booking.id}">
                                            <div class="d-flex flex-column">

                                                <h6 class="mb-3 text-sm" th:text="'booking#'+${booking.id}"></h6>

                                                <span class="mb-2 text-xs">Price: $ <span class="text-dark font-weight-bold ms-sm-2" th:text="${booking.price * booking.hours}"></span></span>
                                                <span class=" mb-2 text-xs">Cleaner name : <span class="text-dark ms-sm-2 font-weight-bold" th:text="${#strings.capitalize(booking.cleaner.user.firstName)}+' '+ ${#strings.capitalize(booking.cleaner.user.lastName)}"></span></span>
                                                <span class="mb-2 text-xs">Date:  <span class="text-dark font-weight-bold ms-sm-2" th:text="${#dates.format(booking.date, 'yyyy-MM-dd')}"></span></span>
                                                <span class="mb-2 text-xs">Start At: <span class="text-dark font-weight-bold ms-sm-2" th:text="${booking.startTime}"></span></span>
                                                <span class="mb-2 text-xs">Address: <span class="text-dark font-weight-bold ms-sm-2" th:text="${booking.address}"></span></span>
                                                <span class="mb-2 text-xs">Service: <span class="text-dark font-weight-bold ms-sm-2" th:text="${booking.service.name}"></span></span>

                                            </div>

                                            <div class="ms-auto text-end">
                                                <input type="hidden"  name="id" th:value="${booking.id}" class="idBooking">
                                                <span  class="badge " th:classappend="'alert-'+${#strings.toLowerCase(booking.status)}"  th:text="${booking.status}" role="alert" th:id="'status'+${booking.id}" ></span>
                                                <a th:id="'cancel'+${booking.id}" th:if="${#strings.toLowerCase(booking.status)} == 'new'" class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" data-bs-toggle="modal"  th:attr="data-bs-target='#exampleModal'+${booking.id}" ><i class="far fa-trash-alt me-2"></i>Cancel</a>
                                                <a sec:authorize="hasRole('ROLE_CLEANER')" th:id="'start'+${booking.id}" th:if="${#strings.toLowerCase(booking.status)} == 'new'" class="btn btn-link text-success text-gradient px-3 mb-0" href="#" onclick="startBooking(this)" ><i class="ni ni-button-power me-2"></i>Start</a>
                                                <a sec:authorize="hasRole('ROLE_CLEANER')" th:id="'done'+${booking.id}" th:if="${#strings.toLowerCase(booking.status)} == 'in_progress'" class="btn btn-link text-info text-gradient px-3 mb-0" href="#"  onclick="doneBooking(this)" ><i class="ni ni-check-bold me-2"></i>done</a>
                                                <a sec:authorize="hasRole('ROLE_CLEANER')" th:id="'done'+${booking.id}" th:if="${#strings.toLowerCase(booking.status)} == 'new'" class="btn btn-link text-info text-gradient px-3 mb-0 none" href="#"  onclick="doneBooking(this)"  ><i class="ni ni-check-bold me-2"></i>done</a>

                                                <a sec:authorize="!hasRole('ROLE_CLEANER')"  th:id="'edit'+${booking.id}" th:if="${#strings.toLowerCase(booking.status)} == 'new'" class="btn btn-link text-dark px-3 mb-0" href="javascript:void(0);" th:href="@{/bookings/edit-booking/}+${booking.id}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>

                                                <div class="modal fade" th:id="'exampleModal'+${booking.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Cancel Booking</h5>
                                                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <span style="float: left;" th:text="'Are you sure? cancel this booking '"></span>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <input type="hidden"  name="id" th:value="${booking.id}" class="idBooking">
                                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                                                                <button type="button"  class="btn btn-danger" onclick="deleteBooking(this)">Yes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>



                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </main>


        </div>
        <th:block th:insert="parts/FooterDiv.html :: footer"></th:block>
    </div>
</main>

<th:block th:include="parts/Footer.html :: footer"></th:block>

</body>

</html>