<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block th:include="parts/Header.html :: head"></th:block>

</head>

<body class="g-sidenav-show   bg-gray-100">
<div class="min-height-300 bg-primary position-absolute w-100"></div>
<th:block th:insert="parts/Aside.html :: aside"></th:block>
<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->
  <th:block th:insert="parts/Nav.html :: nav"></th:block>

  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <th:block th:insert="parts/Notification.html :: div"></th:block>
    <div id="divContent">
    </div>
    <th:block th:insert="parts/FooterDiv.html :: footer"></th:block>
  </div>
</main>

<th:block th:include="parts/Footer.html :: footer"></th:block>

</body>

</html>