<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block th:include="parts/Header.html :: head"></th:block>

</head>

<body class="g-sidenav-show   bg-gray-100">
<div class="min-height-300 bg-primary position-absolute w-100"></div>
<th:block th:insert="parts/Aside.html :: aside"></th:block>
<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->
  <th:block th:insert="parts/Nav.html :: nav"></th:block>

  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <th:block th:insert="parts/Notification.html :: div"></th:block>

    <div id="divContent">
      <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <!-- End Navbar -->
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-md-12 mt-4">
              <div class="card">
                <div class="card-header pb-0 px-3" style="display: flex;">
                  <div class="d-flex flex-column">
                    <h6 class="mb-0">Deleted Customers Information</h6>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-dark px-3 mb-0" th:href="@{/customers}" style="color:#1d64dc !important;;"><i class="fas fa-check-bold me-2" aria-hidden="true" ></i>Active Customer</a>
                  </div>
                </div>
                <div class="card-body pt-4 p-3">
                  <ul class="list-group">
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"  th:each="customer : ${DeletedCustomers.content}" th:id="'customerDiv'+${customer.id}">
                      <div class="d-flex flex-column">

                        <h6 class="mb-3 text-sm" th:text="${#strings.capitalize(customer.user.firstName)}+' '+ ${#strings.capitalize(customer.user.lastName)}"></h6>

                        <span class="mb-2 text-xs">Email:  <span class="text-dark font-weight-bold ms-sm-2" th:text="${customer.user.email} "></span></span>
                        <span class="mb-2 text-xs">Phone:  <span class="text-dark font-weight-bold ms-sm-2" th:text="${customer.user.phone} "></span></span>
                        <span class="mb-2 text-xs">Address:  <span class="text-dark font-weight-bold ms-sm-2" th:text="${customer.user.address}+ ', '+${customer.user.city}+', '
                        + ${customer.user.state}"></span></span>

                      </div>
                      <div class="ms-auto text-center">
<!--                        <img th:src="@{/assets/img/marie.jpg}" class="navbar-brand-img" alt="main_logo" style="  width: 100px;height: 100px;border-radius: 50%;">-->
                        <img th:src="${customer.user.photo != null} ? '/assets/uploads/'+${customer.user.photo} : '/assets/images/empty-photo.png'" alt="User Photo"  class="navbar-brand-img" style="  width: 100px;height: 100px;border-radius: 50%;">


                      </div>

                      <div class="ms-auto text-end">

                        <a class="btn btn-link text-success text-gradient px-3 mb-0" href="#" data-bs-toggle="modal"  th:attr="data-bs-target='#exampleModal'+${customer.id}" ><i class="fa fa-send me-2"></i>Activate</a>

                        <!-- Modal href="javascript:void(0);" onclick="deleteService(this)" -->
                        <div class="modal fade" th:id="'exampleModal'+${customer.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Activate Customer</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <span style="float: left;" th:text="'Are you sure? Activate : '+ ${customer.user.userName}"></span>
                              </div>
                              <div class="modal-footer">
                                <input type="hidden"  name="id" th:value="${customer.id}" class="idCustomer">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                                <button type="button"  class="btn btn-danger" onclick="activateCustomer(this)">Yes</button>
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </li>
                  </ul>
                </div>
                <div class=" card-footer ms-auto text-end">
                  <nav class="btn-group pull-right">
                    <ul class="pagination">
                      <li class="page-item" th:classappend="${currentPage == 0} ? disabled">
                        <a class="page-link" th:href="@{/customers/deletedCustomer(page=${currentPage - 1})}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                      </li>
                      <li class="page-item" th:each="pageNumber : ${#numbers.sequence(0,  DeletedCustomers.totalPages - 1)}" th:classappend="${pageNumber == currentPage} ? active">
                        <a class="page-link" th:href="@{/customers/deletedCustomer(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                      </li>
                      <li class="page-item" th:classappend="${currentPage + 1 >=  DeletedCustomers.totalPages} ? disabled">
                        <a class="page-link" th:href="@{/customers/deletedCustomer(page=${currentPage + 1})}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>
            </div>

          </div>

        </div>
      </main>


    </div>
    <th:block th:insert="parts/FooterDiv.html :: footer"></th:block>
  </div>
</main>

<th:block th:include="parts/Footer.html :: footer"></th:block>

</body>

</html>