<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Homey</title>
      <link rel="icon" type="image/png" href="../assets/img/favicon.png"  th:href="@{/assets/images/Homey-Color.svg}">


    <!-- Additional CSS Files -->
      <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"  type="text/css" />
      <link th:href="@{/assets/css/font-awesome.css}" rel="stylesheet"  type="text/css" />
      <link th:href="@{/assets/css/templatemo-softy-pinko.css}" rel="stylesheet"  type="text/css" />
<!--    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap.min.css">-->

<!--    <link rel="stylesheet" type="text/css" href="../assets/css/font-awesome.css">-->

<!--    <link rel="stylesheet" href="../assets/css/templatemo-softy-pinko.css">-->

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <th:block th:insert="parts/IndexNavBar.html :: header"></th:block>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome" >

        <!-- ***** Header Text Start ***** -->
        <div class="header-text "  >
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">

                        <h1>We provide the best <strong>Services</strong><br>Find a <strong>Five-Star Cleaner </strong> </h1>
                        <a href="#features" th:href="@{/booking}"class="main-button-slider" style="font-size:15px">Book your Cleaner</a>
                        <a href="#features" th:href="@{/cleaners/sign-up}" class="main-button-slider" style="font-size:15px">Become a Cleaner</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Features Small Start ***** -->
    <section class="section home-feature" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="../assets/images/hand-thumbs-up.svg" alt=""></i>
                                </div>
                                <h5 class="features-title">Top-Rated Cleaners</h5>
                                <p></p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="../assets/images/coin.svg" alt=""></i>
                                </div>
                                <h5 class="features-title">Cost-effective pricing</h5>
                                <p></p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->

                        <!-- ***** Features Small Item Start ***** -->
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                            <div class="features-small-item">
                                <div class="icon">
                                    <i><img src="../assets/images/calendar-heart.svg" alt=""></i>
                                </div>
                                <h5 class="features-title">Simple booking process</h5>
                                <p></p>
                            </div>
                        </div>
                        <!-- ***** Features Small Item End ***** -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Small End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section padding-top-70 padding-bottom-0" id="work-process">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mainSection" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div id="example" class="bal-container">
                        <div class="bal-after">
                            <img src="../assets/images/aft.png">
                            <div class="bal-afterPosition afterLabel">
                                After
                            </div>
                        </div>
                        <div class="bal-before">
                            <div class="bal-before-inset">
                                <img src="../assets/images/bef.png">
                                <div class="bal-beforePosition beforeLabel">
                                    Before
                                </div>
                            </div>
                        </div>
                        <div class="bal-handle">
                            <span class=" handle-left-arrow"></span>
                            <span class="handle-right-arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-5 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-heading">
                        <h1 class="section-title" style="color: #8261ee; font-weight: bold;">How we Work:</h1>
                    </div>
                    <div class="left-text " >
<div class="container how-it-works-section">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="circle-block media-object"><span>1</span></div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Select a date and time. </h4> Whether you need a cleaning tomorrow or next month, your cleaner will work with you to fit into your schedule
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="circle-block media-object"><span>2</span></div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Choose your cleaner. </h4> View photos &amp; reviews of background-checked cleaners before choosing the right fit for you.
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="media">
                                        <div class="media-left">
                                            <div class="circle-block media-object"><span>3</span></div>
                                        </div>
                                        <div class="media-body">
                                            <h4 class="media-heading">Relax! </h4> Your cleaner will arrive at your scheduled date and get your home spic and span.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="hr"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->





    <section class="carousel slide mini section colored" data-ride="carousel" id="postsCarousel" style="background-color: #ad94dd;">
        <div class="container">
            <div class="row">
                <div class="col-12 text-md-right lead">
                    <a class="btn btn-secondary-outline prev " href="" title="go back" style="float:left;"><i class="fa fa-lg fa-chevron-left"></i></a>
                    <a class="btn btn-secondary-outline next" href="" title="more" style="float:right;"><i class="fa fa-lg fa-chevron-right"></i></a>
                </div>
            </div>
        </div>
        <div id="pricing-plans"class="container pt-0 mt-2">
            <div class="carousel-inner">
                <div th:each="chunk , index : ${ServicesList}" class="carousel-item" th:classappend="${index.index == 0} ? 'active'">
                        <div class="row">
                            <!-- ***** Pricing Item Start ***** -->
                            <div th:each="item : ${chunk}" class="col-lg-4 col-md-6 col-sm-12 "  style="margin-bottom: 50px;" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                                <div class="pricing-item">
                                    <div class="pricing-header">
                                        <h3  th:text="${item.name}" class="pricing-title"></h3>
                                    </div>
                                    <div class="pricing-body">
                                        <div class="price-wrapper">

                                            <span class="currency">$</span>
                                            <span th:text="${item.price}" class="price"></span>

                                        </div>

                                        <ul class="list" style="margin: 30px; ">
                                            <li class="active" th:each='desc : ${#strings.arraySplit(item.description, "**")}' th:text="${desc}"></li>

                                        </ul>
                                    </div>
                                    <div class="pricing-footer">
                                        <a th:href="@{/booking}+'?id='+${item.id}" class="main-button">Purchase Now</a>
                                    </div>
                                </div>
                            </div>
                            <!-- ***** Pricing Item End ***** -->
                        </div>

                </div>

            </div>
        </div>
    </section>

    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="reviews">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title"  style="color: #8261ee; font-weight: bold;">What do they say?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div th:unless="${#lists.isEmpty(reviews)}" class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div  th:each="review : ${reviews}" class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../assets/images/testimonial-icon.png" alt=""></i>

                            <div class="stars text-center" style="color:orange">
                                <span class="fa " th:classappend="${review.ratingValue >= 1} ? 'fa-star' : 'fa-star-o'"></span>
                                <span class="fa " th:classappend="${review.ratingValue >= 2} ? 'fa-star' : 'fa-star-o'"></span>
                                <span class="fa " th:classappend="${review.ratingValue >= 3} ? 'fa-star' : 'fa-star-o'"></span>
                                <span class="fa " th:classappend="${review.ratingValue >= 4} ? 'fa-star' : 'fa-star-o'"></span>
                                <span class="fa " th:classappend="${review.ratingValue == 5} ? 'fa-star' : 'fa-star-o'"></span>
                            </div>
                           <p th:text="${review.comment}"></p>
                            <div class="user-image" style="  width: 80px;height: 80px;border-radius: 50%;">
                                <img th:src="${review.booking.customer.user.photo != null} ? '../assets/uploads/'+${review.booking.customer.user.photo} : '../assets/images/empty-photo.png'" alt="User Photo"  class="navbar-brand-img" style="  width:80;height: 80px;"  >
                            </div>
                            <div class="team-info">
                                <h3 th:text="${#strings.capitalize(review.booking.customer.user.firstName)}+' '+ ${#strings.capitalize(review.booking.customer.user.lastName)}" class="user-name"></h3>
                                <h6 th:text="'Service: '+${review.booking.service.name}"></h6>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ***** Testimonials Item End ***** -->
            </div>

            <div th:if="${#lists.isEmpty(reviews)}" class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../assets/images/testimonial-icon.png" alt=""></i>
                            <p>Proin a neque nisi. Nam ipsum nisi, venenatis ut nulla quis, egestas scelerisque orci. Maecenas a finibus odio.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Catherine Soft</h3>
                                <span>Managing Director</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../assets/images/testimonial-icon.png" alt=""></i>
                            <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Kelvin Wood</h3>
                                <span>Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->

                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="../assets/images/testimonial-icon.png" alt=""></i>
                            <p>Quisque diam odio, maximus ac consectetur eu, auctor non lorem. Cras quis est non ante ultrices molestie. Ut vehicula et diam at aliquam.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">David Martin</h3>
                                <span>Website Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->


    <!-- ***** Counter Parallax Start ***** -->
    <section class="counter">
        <div class="content">
            <div class="container">
                <div class="col-12 text-center center-heading" style="    margin: 30px;">

                    <h6>We provide our services  <strong>within 50 miles </strong>of Great Seattle Area
                        <br>Check <strong>the availability </strong> here </h6>

                </div>

                <div class="col-12 text-center center-heading" style="    margin: 30px;">

                    <a href="#features" th:href="@{/checkAvailability}" class="main-button-slider" style="font-size:15px">Check your zipCode</a>

                </div>

            </div>
        </div>
    </section>
    <!-- ***** Counter Parallax End ***** -->   


    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h3 class="section-title" style="color: #8261ee; font-weight: bold;">Talk To Us</h3>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Keep in touch</h5>
                    <div class="contact-text">
                        <p>110-220 Quisque diam odio, maximus ac consectetur eu, 10260
                        <br>auctor non lorem</p>
                        <p>You are NOT allowed to re-distribute Softy Pinko template on any template collection websites. Thank you.</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" th:action="@{/message/add}" th:object="${messageDTO}" method="post">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" th:field="*{fullname}" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" th:field="*{email}" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" th:field="*{message}" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-rss"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2020 Softy Pinko Company - Design: TemplateMo</p>
                </div>
            </div>
        </div>
    </footer>


    <script type="text/javascript" th:src="@{/assets/js/jquery-2.1.0.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/popper.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/scrollreveal.min.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/waypoints.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/jquery.counterup.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/imgfix.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/script.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/custom.js}"></script>


<script>
new BeforeAfter({
    id: '#example'
});</script>
    <script>(function($) {
    "use strict";

    // manual carousel controls
    $('.next').click(function(){ $('.carousel').carousel('next');return false; });
    $('.prev').click(function(){ $('.carousel').carousel('prev');return false; });

})(jQuery);</script>
  </body>
</html>