<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block th:include="parts/Header.html :: head"></th:block>
<style>

  input[type="radio"] {
    display: none;
}

</style>
</head>
<body>
<!-- Create a form and use radio buttons for the rating -->
<form>
  <div class="form-group">
    <!-- The emojis go here -->
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <input type="hidden" id="ratingValue" name="ratingValue" th:field="*{ratingValue}">
      <label class="btn btn-primary">
        <input type="radio" name="rating" id="one" value="1"> <span id="star1" class="fa fa-star-o"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating" id="two" value="2"> <span id="star2" class="fa fa-star-o"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating" id="three" value="3"> <span id="star3" class="fa fa-star-o"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating" id="four" value="4"> <span id="star4" class="fa fa-star-o"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating" id="five" value="5"> <span id="star5" class="fa fa-star-o"></span>
      </label>

    </div>

    <hr class="horizontal dark">
    <p class="text-uppercase text-sm">Leave A comment</p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="comment" class="form-control-label">Comment</label>
          <textarea class="form-control" name="comment" id="comment"  th:field="*{comment}"></textarea>
          <span  class=" badge-pill badge-danger" style="color:red " th:if="${#fields.hasErrors('comment')}"
                 th:errors="*{comment}"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- A submit button -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


<th:block th:include="parts/Footer.html :: footer"></th:block>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

  $(document).ready(function() {
    $("#one").click(function (){
        $("#star1").attr('class', 'fa fa-star');
        $("#star2, #star3, #star4, #star5").attr('class', 'fa fa-star-o');
        $("#ratingValue").val("1");
    });
    $("#two").click(function (){
        $("#star1, #star2").attr('class', 'fa fa-star');
        $("#star3, #star4, #star5").attr('class', 'fa fa-star-o');
        $("#ratingValue").val("2");
    });

     $("#three").click(function (){
        $("#star1, #star2,#star3").attr('class', 'fa fa-star');
        $("#star4, #star5").attr('class', 'fa fa-star-o');
        $("#ratingValue").val("3");
    });

        $("#four").click(function (){
        $("#star1, #star2,#star3,#star4").attr('class', 'fa fa-star');
        $("#star5").attr('class', 'fa fa-star-o');
        $("#ratingValue").val("4");
    });


        $("#five").click(function (){
        $("#star1, #star2,#star3,#star4,#star5").attr('class', 'fa fa-star');
        $("#ratingValue").val("5");
    });
});


</script>

</body>
</html>