<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block th:include="parts/Header.html :: head"></th:block>
<style>

  input[type="radio"] {
    display: none;
}

</style>
</head>
<body>
<!-- Create a form and use radio buttons for the rating -->
<form>
  <div class="form-group">
    <!-- The emojis go here -->
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <input type="hidden" id="ratingValue" name="ratingValue" th:field="*{ratingValue}">
      <label class="btn btn-primary">
        <input type="radio" name="rating${booking.id}" id="one${booking.id}" value="1">
        <span id="star1${booking.id}" class="fa fa-star-o"></span>
      </label>

      <label class="btn btn-primary">
        <input type="radio" name="rating${booking.id}" id="two${booking.id}" value="2">
        <span id="star2${booking.id}" class="fa fa-star-o"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating${booking.id}" id="three${booking.id}" value="3">
        <span id="star3${booking.id}" class="fa fa-star-o"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating${booking.id}" id="four${booking.id}" value="4">
        <span id="star4${booking.id}" class="fa fa-star-o"></span>
      </label>
      <label class="btn btn-primary">
        <input type="radio" name="rating${booking.id}" id="five${booking.id}" value="5">
        <span id="star5${booking.id}" class="fa fa-star-o"></span>
      </label>


    </div>

    <hr class="horizontal dark">
    <p class="text-uppercase text-sm">Leave A comment</p>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="comment" class="form-control-label">Comment</label>
          <textarea class="form-control" name="comment" id="comment"  th:field="*{comment}"></textarea>
          <span  class=" badge-pill badge-danger" style="color:red " th:if="${#fields.hasErrors('comment')}"
                 th:errors="*{comment}"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- A submit button -->
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>
</html>