<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <th:block th:include="parts/Header.html :: head"></th:block>

</head>

<body class="g-sidenav-show   bg-gray-100">
<div class="min-height-300 bg-primary position-absolute w-100"></div>
<th:block th:insert="parts/Aside.html :: aside"></th:block>
<main class="main-content position-relative border-radius-lg ">
  <!-- Navbar -->
  <th:block th:insert="parts/Nav.html :: nav"></th:block>

  <!-- End Navbar -->
  <div class="container-fluid py-4">
    <th:block th:insert="parts/Notification.html :: div"></th:block>

    <div id="divContent">
      <main class="main-content position-relative border-radius-lg ">
        <!-- Navbar -->
        <!-- End Navbar -->
        <div class="container-fluid py-4">
          <div class="row">
            <div class="col-md-12 mt-4">
              <div class="card">
                <div class="card-header pb-0 px-3" style="display: flex;">
                  <div class="d-flex flex-column">
                    <h6 class="mb-0">Services Information</h6>
                  </div>
                  <div class="ms-auto text-end">
                    <a class="btn btn-link text-dark px-3 mb-0" th:href="@{/services/add-service}" style="color:#1d64dc !important;;"><i class="fas fa-plus me-2" aria-hidden="true" ></i>New Service</a>
                  </div>
                </div>
                <div class="card-body pt-4 p-3">
                  <ul class="list-group">
                    <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg"  th:each="service : ${ServicesList}" th:id="'serviceDiv'+${service.id}">
                      <div class="d-flex flex-column">

                        <h6 class="mb-3 text-sm" th:text="${service.name}"></h6>

                        <span class="mb-2 text-xs">Price: $ <span class="text-dark font-weight-bold ms-sm-2" th:text="${service.price}+ '/hr'"></span></span>
                        <span class=" mb-2 text-xs">Discreption : <span class="text-dark ms-sm-2 font-weight-bold">
                      <ul class="list" >
                                            <li class="active" th:each='desc : ${#strings.arraySplit(service.description, "**")}' th:text="${desc}"></li>

                                        </ul>


                    </span></span>
                        <!--                    <span class="text-xs">VAT Number: <span class="text-dark ms-sm-2 font-weight-bold">FRB1235476</span></span>-->

                      </div>

                      <div class="ms-auto text-end">

                        <span  class="badge " th:classappend="${service.active} ? alert-success: alert-warning"  th:text="${service.active} ? Active: Inactive"role="alert"></span>
                        <a class="btn btn-link text-danger text-gradient px-3 mb-0" href="#" data-bs-toggle="modal"  th:attr="data-bs-target='#exampleModal'+${service.id}" ><i class="far fa-trash-alt me-2"></i>Delete</a>
                        <a class="btn btn-link text-dark px-3 mb-0" href="javascript:void(0);" th:href="@{/services/edit-service/}+${service.id}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>Edit</a>

                        <!-- Modal href="javascript:void(0);" onclick="deleteService(this)" -->
                        <div class="modal fade" th:id="'exampleModal'+${service.id}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                               <span style="float: left;" th:text="'Are you sure? Delete: '+ ${service.name}"></span>
                              </div>
                              <div class="modal-footer">
                                <input type="hidden"  name="id" th:value="${service.id}" class="idService">
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">No</button>
                                <button type="button"  class="btn btn-danger" onclick="deleteService(this)">Yes</button>
                              </div>
                            </div>
                          </div>
                        </div>



                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>
      </main>


    </div>
    <th:block th:insert="parts/FooterDiv.html :: footer"></th:block>
  </div>
</main>

<th:block th:include="parts/Footer.html :: footer"></th:block>

</body>

</html>