<html xmlns:th="http://www.thymeleaf.org" lang="en">
<footer>

<!--   Core JS Files   -->
<script src="../assets/js/core/popper.min.js" th:src="@{/assets/js/core/popper.min.js}"></script>
<script src="../assets/js/core/bootstrap.min.js"  th:src="@{/assets/js/core/bootstrap.min.js}"></script>
<script src="../assets/js/plugins/perfect-scrollbar.min.js"  th:src="@{/assets/js/plugins/perfect-scrollbar.min.js}"></script>
<script src="../assets/js/plugins/smooth-scrollbar.min.js"  th:src="@{/assets/js/plugins/smooth-scrollbar.min.js}"></script>

<script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
<!-- Github buttons -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/argon-dashboard.min.js?v=2.0.4" th:src="@{/assets/js/argon-dashboard.min.js?v=2.0.4}"></script>
<script>
<!--this is for activate the section -->
  if ( document.getElementById('divContent').textContent.trim() === '' ){
fetch('/dashboard/dash')
        .then(response => response.text())
        .then(data => {
          document.getElementById('divContent').innerHTML = data;
        })
        .catch(err => console.warn(err));
}
           url = window.location.pathname
           const myArray = url.split("/");
           let gg = document.getElementsByClassName('nav-link active');
          // console.log(myArray[1]);
         //  console.log(gg[0]);
           for(let xx =0;xx<gg.length;xx++){
           gg[xx].classList.remove("active");
           }
           document.getElementById(myArray[1]).classList.add("active");
           document.getElementById('title_page_dash').innerHTML=myArray[1].toUpperCase();

      var textareas = document.getElementsByTagName("textarea");
      for (var i = 0; i < textareas.length; i++) {
        var textarea = textareas[i];
        var textareaValue = textarea.value;
        var modifiedValue = textareaValue.replaceAll("**", '');
        textarea.value = modifiedValue;
        }
</script>

  <script  th:src="@{/assets/js/myScript.js}"></script>
</footer>
</html>