<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Logo Start ***** -->
          <a href="#" class="logo">
            <img src="../assets/images/Homey-Color.svg" alt="Softy Pinko"/>
          </a>
          <!-- ***** Logo End ***** -->
          <!-- ***** Menu Start ***** -->
          <ul class="nav">
            <li><a th:href="@{/home}" class="active">Home</a></li>
            <li><a href="#features">About</a></li>
            <li><a href="#work-process">Work Process</a></li>
            <li><a href="#pricing-plans">Pricing Services</a></li>
            <li><a href="#reviews">Reviews</a></li>
            <li><a th:href="@{/login}">Sign-up/login</a></li>
            <li><a href="#contact-us">Contact Us</a></li>

          </ul>
          <a class='menu-trigger'>
            <span>Menu</span>
          </a>
          <!-- ***** Menu End ***** -->
        </nav>
      </div>
    </div>
  </div>
</header>
</html>