<html xmlns:th="http://www.thymeleaf.org" lang="en">

<div class="container">
  <div th:if="${message}" class="notificationPlace" th:classappend="'alert ' + ${alertType}" style="color:white;padding:10px">
    <strong><span th:text="${message}"></span></strong>
  </div>
  <div th:unless="${message}" class="notificationPlace" th:classappend="'alert '" style="color:white;padding:10px">
    <strong><span></span></strong>

  </div>
  <div th:if="${savedBooking}" class="notificationPlace" th:classappend="'alert ' + ${savedBookingalertType}" style="color:white;padding:10px">
    <strong><span th:text="${savedBooking}"></span></strong>
  </div>

</div>
</html>